html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  background-color: #fff;
  font-family: Inter, sans-serif;
  color: $grey;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
}

.link {
  transition: all .3s ease-in-out;

  &:hover {
    opacity: 0.6;
  }
}

.btn {
  padding: 18px 40px;
  border-radius: 24px;
  text-transform: uppercase;
  background-color: $yellow;
  border: none;
  cursor: pointer;
}

.section-offset {
  padding-top: 40px;
  padding-bottom: 40px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.filling {
  width: 100%;
  height: 100%;
}

.grey-block {
  background-color: #F8F8F8;
  border-radius: 12px;
  min-height: 430px;
  padding: 50px;
}

.title {
  font-weight: 500;
  font-size: 44px;
  line-height: 130%;
  text-transform: uppercase;
}

.filling {
}