.header {
  padding: 18px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    background-color: transparent;
    border: 1px solid $grey;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transition: all .3s ease-in-out;

    &:hover {
      background-color: $hover_btn;
      border-color: transparent;

    }
  }
}