.header {
  padding: 18px 0;

  &__btn {
    padding: 18px 40px;
    // border: none;
    background-color: transparent;
    border: 1px solid $grey;
    border-radius: 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    transition: all .3s ease-in-out;

    &:hover {
      background-color: $hover_btn;
      border-color: transparent;

    }
  }
}