.hero {
  --width-slide: 590px;
  --height-slide: 530px;
  --width-block: calc(50% - 10px);
  --gap: 10px;
  padding-top: 0;
  overflow: hidden;

  //.hero__container

  &__container {
    position: relative;
    display: flex;
    gap: var(--gap);
  }

  // .hero_image

  &_image {
    width: var(--width-slide);
    height: var(--height-slide);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
  }

  // .hero__content

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: var(--width-block);
  }

  // .hero__slider-block

  &__slider-block {
    position: absolute;
    left: calc(var(--width-block) + var(--gap) / 2);
    width: calc(((var(--width-block) + var(--gap)) * 2) - var(--gap));
    // max-width: var(--width-block);
  }

  // .hero__title

  &__title {
    margin-bottom: 32px;
  }

  // .hero__description

  &__description {
    text-transform: uppercase;
    margin-bottom: 32px;
    flex-grow: 1;
  }

  // .hero__slider-wrapper

  &__slider-wrapper {
    position: relative;
  }

  // hero__arrow 

  &__arrow {
    position: absolute;
    width: 96px;
    left: calc(var(--width-slide) - 50px);
    transform: translateX(-100%);
    bottom: 50px;
    display: flex;
    gap: 8px;
    z-index: 3;
  }

  // .hero__slider-btn

  &__slider-btn {
    width: 42px;
    height: 42px;
    background:$yellow url('../img/slider_arrow.svg') center no-repeat;
    background-size: 12px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    // .hero__slider-btn_prev

    &_prev {

    }

    // .hero__slider-btn_next

    &_next {
      transform: rotate(180deg);
    }
  }
}


