.hero {
  padding-top: 0;
  overflow: hidden;

  //.hero__container

  &__container {
    position: relative;
    display: flex;
    gap: var(--gap);

    @include tablet {
      flex-direction: column;
    }
  }

  // .hero_image

  &_image {
    width: var(--width-slide);
    max-width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
  }

  // .hero__content

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: var(--width-block);

    @include tablet {
      width: 100%;
    }
  }

  // .hero__slider-block

  &__slider-block {
    position: absolute;
    left: calc(var(--width-block) + var(--gap) / 2);
    width: calc(((var(--width-block) + var(--gap)) * 2) - var(--gap));
    height: 100%;

    @include tablet {
      position: static;
      height: 280px;
    }

    @include mobile {
      width: var(--width-slide);
      margin: auto;
    }
  }

  // .hero__title

  &__title {
    margin-bottom: 32px;

    @include laptop {
      margin-bottom: 24px;
    }

    @include tablet {
      margin-bottom: 16px;
    }
  }

  // .hero__description

  &__description {
    text-transform: uppercase;
    margin-bottom: 32px;
    flex-grow: 1;

    @include laptop {
      margin-bottom: 98px;
    }

    @include tablet {
      margin-bottom: 50px;
    }

    @include mobile {
      font-size: 12px;
      margin-bottom: 24px;
    }
  }

  // .hero__slider-wrapper

  &__slider {
    position: relative;
    height: 100%;
  }

  // hero__arrow 

  &__arrow {
    position: absolute;
    width: 96px;
    left: calc(var(--width-slide) - var(--padding));
    transform: translateX(-100%);
    bottom: var(--padding);
    display: flex;
    gap: 8px;
    z-index: 3;

    @include laptop {
      left: auto;
      right: var(--padding);
      transform: none;
    }
  }

  // .hero__slider-btn

  &__slider-btn {
    width: 42px;
    height: 42px;
    background:$yellow url('../img/slider_arrow.svg') center no-repeat;
    background-size: 12px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    // .hero__slider-btn_prev

    &_prev {

    }

    // .hero__slider-btn_next

    &_next {
      transform: rotate(180deg);
    }
  }
}


