:root {
  --width-slide: 590px;
  --gap: 10px;
  --width-block: calc(50% - var(--gap));
  --padding: 50px;
}
@media (max-width: 1240px) {
  :root {
    --padding: 30px;
    --width-slide: 440px;
  }
}
@media (max-width: 920px) {
  :root {
    --padding: 24px;
    --width-slide: 311px;
  }
}
@media (max-width: 560px) {
  :root {
    --padding: 20px;
    --gap: 4px;
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  background-color: #fff;
  font-family: Inter, sans-serif;
  color: #232020;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
}
@media (max-width: 1240px) {
  .container {
    max-width: 890px;
  }
}
@media (max-width: 920px) {
  .container {
    max-width: 690px;
    padding: 0 30px;
  }
}
@media (max-width: 560px) {
  .container {
    padding: 0 6px;
  }
}

.link {
  transition: opacity 0.3s ease-in-out;
}
.link:hover {
  opacity: 0.8;
}

.btn {
  padding: 18px 40px;
  border-radius: 24px;
  text-transform: uppercase;
  background-color: #FFC700;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  transition: transform 0.2s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.btn:focus-visible {
  border-color: #9e7b00;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  transform: translate(2px, 2px);
}
.btn:disabled {
  pointer-events: none;
  color: #898989;
  background-color: #E0E0E0;
  border-color: #E0E0E0;
}
@media (max-width: 920px) {
  .btn {
    padding: 10px 24px;
    font-size: 14px;
  }
}
@media (max-width: 560px) {
  .btn {
    font-size: 12px;
  }
}

.section-offset {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 1240px) {
  .section-offset {
    padding: 30px 0;
  }
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.grey-block {
  background-color: #F8F8F8;
  border-radius: 12px;
  min-height: 530px;
  padding: var(--padding);
}
@media (max-width: 1240px) {
  .grey-block {
    min-height: 396px;
  }
}
@media (max-width: 920px) {
  .grey-block {
    min-height: 280px;
  }
}
@media (max-width: 560px) {
  .grey-block {
    min-height: 232px;
  }
}

.title {
  font-weight: 500;
  font-size: 44px;
  line-height: 130%;
  text-transform: uppercase;
}
@media (max-width: 1240px) {
  .title {
    font-size: 34px;
  }
}
@media (max-width: 560px) {
  .title {
    font-size: 24px;
  }
}

.span__text {
  font-size: 12px;
  color: #898989;
  margin-bottom: 2px;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  font-display: swap;
  src: local(Inter), url("../fonts/inter-v12-cyrillic_latin-500.woff2") format("woff2"), url("../fonts/inter-v12-cyrillic_latin-500.woff") format("woff");
}
@font-face {
  font-family: Inter;
  font-weight: 400;
  font-display: swap;
  src: local(Inter), url("../fonts/inter-v12-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/inter-v12-cyrillic_latin-regular.woff") format("woff");
}
.header {
  padding: 18px 0;
}
@media (max-width: 560px) {
  .header {
    padding: 16px 0;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 920px) {
  .header_logo {
    width: 124px;
  }
}
.header__btn {
  background-color: transparent;
  border: 1px solid #232020;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  transition: all 0.3s ease-in-out;
}
.header__btn:hover {
  background-color: #FFD952;
  border-color: transparent;
}

.hero {
  padding-top: 0;
  overflow: hidden;
}
.hero__container {
  position: relative;
  display: flex;
  gap: var(--gap);
}
@media (max-width: 920px) {
  .hero__container {
    flex-direction: column;
  }
}
.hero_image {
  width: var(--width-slide);
  max-width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: var(--width-block);
}
@media (max-width: 920px) {
  .hero__content {
    width: 100%;
  }
}
.hero__slider-block {
  position: absolute;
  left: calc(var(--width-block) + var(--gap) / 2);
  width: calc((var(--width-block) + var(--gap)) * 2 - var(--gap));
  height: 100%;
}
@media (max-width: 920px) {
  .hero__slider-block {
    position: static;
    height: 280px;
  }
}
@media (max-width: 560px) {
  .hero__slider-block {
    width: var(--width-slide);
    margin: auto;
  }
}
.hero__title {
  margin-bottom: 32px;
}
@media (max-width: 1240px) {
  .hero__title {
    margin-bottom: 24px;
  }
}
@media (max-width: 920px) {
  .hero__title {
    margin-bottom: 16px;
  }
}
.hero__description {
  text-transform: uppercase;
  margin-bottom: 32px;
  flex-grow: 1;
}
@media (max-width: 1240px) {
  .hero__description {
    margin-bottom: 98px;
  }
}
@media (max-width: 920px) {
  .hero__description {
    margin-bottom: 50px;
  }
}
@media (max-width: 560px) {
  .hero__description {
    font-size: 12px;
    margin-bottom: 24px;
  }
}
.hero__slider {
  position: relative;
  height: 100%;
}
.hero__arrow {
  position: absolute;
  width: 96px;
  left: calc(var(--width-slide) - var(--padding));
  transform: translateX(-100%);
  bottom: var(--padding);
  display: flex;
  gap: 8px;
  z-index: 3;
}
@media (max-width: 1240px) {
  .hero__arrow {
    left: auto;
    right: var(--padding);
    transform: none;
  }
}
.hero__slider-btn {
  width: 42px;
  height: 42px;
  background: #FFC700 url("../img/slider_arrow.svg") center no-repeat;
  background-size: 12px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.hero__slider-btn:hover {
  opacity: 0.8;
}
.hero__slider-btn_next {
  transform: rotate(180deg);
}

.advantages__container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
@media (max-width: 920px) {
  .advantages__container {
    flex-direction: column;
  }
}
.advantages__title {
  flex-basis: 50%;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
  max-width: 480px;
}
@media (max-width: 920px) {
  .advantages__title {
    margin-bottom: 24px;
  }
}
@media (max-width: 560px) {
  .advantages__title {
    margin-bottom: 16px;
  }
}
.advantages__list {
  flex-basis: 50%;
}
.advantages__item {
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px;
  padding-left: 32px;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.advantages__item:last-child {
  margin-bottom: 0;
}
@media (max-width: 1240px) {
  .advantages__item {
    font-size: 20px;
  }
}
@media (max-width: 920px) {
  .advantages__item {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
@media (max-width: 560px) {
  .advantages__item {
    font-size: 14px;
  }
}

.calc__container {
  display: flex;
  gap: var(--gap);
}
@media (max-width: 920px) {
  .calc__container {
    flex-direction: column;
    --width-block: 100%;
  }
}
.calc__content {
  width: var(--width-block);
}
.calc__title {
  margin-bottom: 32px;
}
@media (max-width: 1240px) {
  .calc__title {
    margin-bottom: 24px;
  }
}
@media (max-width: 560px) {
  .calc__title {
    margin-bottom: 16px;
  }
}
.calc__fieldset_size {
  margin-bottom: 32px;
  display: flex;
}
@media (max-width: 1240px) {
  .calc__fieldset_size {
    margin-bottom: 24px;
  }
}
@media (max-width: 560px) {
  .calc__fieldset_size {
    flex-direction: column;
    margin-bottom: 16px;
    gap: 10px;
  }
}
.calc__fieldset_tariff {
  margin-bottom: 65px;
}
@media (max-width: 1240px) {
  .calc__fieldset_tariff {
    margin-bottom: 34px;
  }
}
@media (max-width: 560px) {
  .calc__fieldset_tariff {
    flex-direction: column;
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
  }
}
.calc__wrapper-input-size {
  margin-right: 10px;
}
.calc__wrapper-input-size :last-child {
  margin-right: 0;
}
@media (max-width: 560px) {
  .calc__wrapper-input-size {
    display: flex;
    flex-direction: column;
  }
}
.calc__text_legend {
  margin-bottom: 16px;
}
@media (max-width: 920px) {
  .calc__text_legend {
    margin-bottom: 8px;
  }
}
.calc__input-number {
  background-color: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 12px;
  padding: 15px 25px;
  width: 240px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  outline: none;
  transition: border-color 0.3s ease;
}
.calc__input-number:hover, .calc__input-number:focus {
  border-color: #FFC700;
}
@media (max-width: 1240px) {
  .calc__input-number {
    width: 100%;
  }
}
@media (max-width: 920px) {
  .calc__input-number {
    font-size: 14px;
    height: 36px;
    padding: 0 16px;
  }
}
.calc__wrapper-input-tariff {
  display: inline-flex;
  margin-right: 16px;
}
.calc__wrapper-input-tariff:last-child {
  margin-right: 0;
}
.calc__input-radio {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.calc__input-radio::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 50%;
}
.calc__input-radio::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: scale(0.33);
  background-color: #232020;
  border-radius: 50%;
  opacity: 0;
}
.calc__input-radio:checked::after {
  opacity: 1;
}
.calc__label-radio {
  text-transform: uppercase;
}
@media (max-width: 920px) {
  .calc__label-radio {
    font-size: 14px;
  }
}
.calc__total {
  width: var(--width-block);
  display: flex;
  align-items: flex-end;
  padding: var(--padding);
  background: #333 url("./../img/calc-bg.jpeg") center/cover no-repeat;
  border-radius: 12px;
}
@media (max-width: 920px) {
  .calc__total {
    height: 220px;
    align-items: flex-start;
  }
}
.calc__result-wrapper {
  display: none;
  flex-basis: 303px;
  padding: 24px;
  background: #FFFFFF;
  border-radius: 8px;
}
.calc__result-wrapper_show {
  display: block;
}
.calc__result {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  margin-bottom: 16px;
  gap: 20px;
}
.calc__result:last-child {
  margin-bottom: 0;
}
.calc__order {
  display: none;
  margin-left: 10px;
}
.calc__order_show {
  display: inline-block;
}

.footer {
  padding-bottom: 40px;
}
@media (max-width: 920px) {
  .footer {
    font-size: 14px;
  }
}
@media (max-width: 920px) {
  .footer_logo {
    width: 124px;
  }
}
.footer__container {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
  grid-template-columns: max-content 1fr max-content;
  gap: 40px 126px;
  grid-template-areas: "logo social contact" "copyright . developer";
  padding-top: 50px;
  border-top: 2px solid #F8F8F8;
}
@media (max-width: 1240px) {
  .footer__container {
    -moz-column-gap: 86px;
         column-gap: 86px;
    padding: 30px;
  }
}
@media (max-width: 920px) {
  .footer__container {
    padding-top: 24px;
    gap: 28px 8%;
  }
}
@media (max-width: 560px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
}
.footer__link {
  transition: color 0.3s ease;
}
.footer__link:hover {
  color: #FFC700;
}
.footer__link_contact {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer__logo {
  grid-area: logo;
}
.footer__social {
  grid-area: social;
  flex-direction: row;
  gap: 24px;
  justify-self: end;
  padding-top: 8px;
}
@media (max-width: 920px) {
  .footer__social {
    gap: 16px;
  }
}
.footer__contact {
  grid-area: contact;
  gap: 16px;
  padding-top: 8px;
}
@media (max-width: 920px) {
  .footer__contact {
    gap: 8px;
  }
}
.footer__copyright {
  grid-area: copyright;
}
@media (max-width: 560px) {
  .footer__copyright {
    order: 2;
  }
}
.footer__developer {
  grid-area: developer;
  gap: 8px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 50;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  overflow-y: hidden;
  padding: 6px;
}
.modal .modal__main {
  position: relative;
  margin: auto;
  max-width: 790px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  cursor: default;
  overflow: hidden;
}
.modal .modal__container {
  display: flex;
}
@media (max-width: 560px) {
  .modal .modal__container {
    flex-direction: column;
  }
}
.modal .modal__container::after {
  content: "";
  flex: 0 0 350px;
  background-image: url("./../img/modal__bg-desc.jpeg");
  background-size: cover;
}
@media (max-width: 920px) {
  .modal .modal__container::after {
    flex: 0 0 192px;
    background-image: url("./../img/modal__bg-tablet.jpeg");
  }
}
@media (max-width: 560px) {
  .modal .modal__container::after {
    background-image: url("./../img/modal__bg-mobile.jpeg");
  }
}
.modal .modal__content {
  padding: 30px;
}
.modal .modal__title {
  font-size: 34px;
  margin-bottom: 24px;
}
@media (max-width: 560px) {
  .modal .modal__title {
    font-size: 24px;
    margin-bottom: 16px;
  }
}
.modal .modal__subtitle {
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media (max-width: 560px) {
  .modal .modal__subtitle {
    margin-bottom: 16px;
  }
}
.modal .modal__fieldset {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
  border: 0;
}
@media (max-width: 560px) {
  .modal .modal__fieldset {
    flex-direction: column;
  }
}
.modal .modal__wrapper-input {
  position: relative;
  padding-bottom: 20px;
  flex-basis: 50%;
}
.modal .modal__input {
  width: 100%;
  height: 54px;
  border: 1px solid #E4E4E4;
  border-radius: 12px;
  padding: 0 25px;
}
.modal .modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: 0;
  transition: opacity 0.3s ease-out;
  cursor: pointer;
}
.modal .modal__close:hover {
  opacity: 0.5;
}
.modal .modal__input-error {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */